body { font-size: 16px }

.title { width:50% ; margin: 0 auto; text-align: center;}

.icon-holder {width:50% ; margin: 0 auto; text-align: center; }

.wrapper {width: 43%; display: inline-block; padding: 1em;}
.wrapper img {width: 100%;}

#Icon_gaming { cursor: pointer; }

#Icon_gaming: hover {fill: blue !important; } 